.title {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 25px;
    text-decoration: underline;
    text-align: center;
}
.containsAll {
    align-content: center;
}
.signInStyles {
    max-width: 350px;
    margin: auto;
}
.container {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
.submitButtonStyles {
    background-color: deepskyblue;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    width: 100%;
    padding: 0px 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submitButton:active {
    transition: all 350ms ease;
    color: deepskyblue;
    background-color: white;
}
.signUpLink {
    margin-left: 20px;
}
