Form {
    max-width: 300px;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
}
.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}